<%= render partial: 'shared/navbar' %>
<div class="container mx-auto form_styles">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>  

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="container form_styles">
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Forgot your password?", new_password_path(resource_name)%>
</div>
</div>
